<div id="left-splash">
  <%= form_tag "#{CasConf["uri_path"]}/login" do %>
    <div>
      <%= label_tag "username", "Username" %>
      <%= text_field_tag "username", nil, {:tabIndex => 1} %>
    </div>
    <div>
      <%= label_tag "password", "Password" %>
      <%= password_field_tag "password", nil, {:tabIndex => 2} %>
    </div>
    <div>
      <%= check_box_tag "remember-me", "on", false, {:tabIndex => 3} %>
      <%= label_tag "remember-me", "Remeber me for 14 days", {:id => "remember-me"} %>
    </div>
    <div id="signup-submit">
      <input type="hidden" id="lt" name="lt" value="<%= @lt %>" />
      <input type="hidden" id="service" name="service" value="<%= @service %>" />
      <%= submit_tag "Login" %>
    </div>
  <% end %>
  <% if @message %>
    <div id="clear"></div>
    <div id="err-msg">
      <div id="err-msg-content">
        <%= @message[:message] %>
      </div>
    </div>
  <% end %>
</div>

<div id="right-splash">
  A clone of the rubycas-server, providing a cross-domain single sign-on solution for web applications using Rails3.
  <br /><br />
  <h2>Or you can login with</h2>
  <ul>
    <li><a id="facebook-btn" href="/cas/facebook?service=<%=@service%>&lt=<%=@lt%>">Facebook</a></li>
  </ul>
</div>


