<div id="left-splash">
  <%= form_tag "/server/login" do %>
    <div>
      <%= label_tag "email", "Account / Email" %>
      <%= text_field_tag "email", nil, {:tabIndex => 1} %>
    </div>
    <div>
      <%= label_tag "password", "Password" %>
      <%= password_field_tag "password", nil, {:tabIndex => 2} %>
    </div>
    <div>
      <%= check_box_tag "remember-me", "on", false, {:tabIndex => 3} %>
      <%= label_tag "remember-me", "Remeber me for 14 days", {:id => "remember-me"} %>
    </div>
    <div id="signup-submit">
      <input type="hidden" id="lt" name="lt" value="<%= @lt %>" />
      <input type="hidden" id="service" name="service" value="<%= @service %>" />
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>
<div id="right-splash">
  A clone of the rubycas-server, providing a cross-domain single sign-on solution for web applications using Rails3.
  <h2>Our Fatures</h2>
  <ul>
    <li>Plugable Module</li>
    <li>With authentication module for Facebook, Google and Yahoo!</li>
  </ul>
</div>
